# Node modules
node_modules/
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Unity temp / build folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
